body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.half-div {
    width: 50%;
    padding: 50px;
}

section {
    display: flex;
    padding-bottom: 150px;
}

.section-one {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-div img {
    width: 80%;
}

.half-div a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;

}

.section-two {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}