body {
    font-family: 'Poppins', sans-serif;
    margin: 2px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.half-div {
    width: 50%;
    margin: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.flex-div {
    display: flex;
    padding-bottom: 100px;
}

.section-one {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-div img {
    width: 80%;
}

.half-div a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;

}

.section-two {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.section-three {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-div {
    width: 40%;
    height: 350px;
    margin-left: 80px;
    margin-right: 50px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
}

#full-stack-id {
    border-left: 8px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

#baby-web-id {
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}